[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = warning

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = suggestion
